*{ box-sizing:border-box; }

body{
  background-color: #CCCCCC;
  color: #222222;
}
.songIndex{
  margin:3em auto;
  border: 1em solid #CC6633;
  border-radius: 20px;
  text-align: center;
  width: 80%;
  background-color: #FF9900;
  padding: 1em;
}

.title {
  font-size: 50px;
  background-color: #C5D6D0;
  -webkit-box-shadow: 0px 3px 4px 1px rgba(61,18,27,1);
    -moz-box-shadow: 0px 3px 4px 1px rgba(61,18,27,1);
      box-shadow: 0px 3px 4px 1px rgba(61,18,27,1);
  font-style: none;
  text-decoration: none;
  color: #222222;
}
.title:hover{
  background-color: #CC6633;
}

a{
  text-decoration: none;
  color: inherit;
  font-size: 20px;
}

.user-auth{
  float:left;
}

button{
  border: 3px solid #CC6633;
  border-raius: 1em;
  font-size: 20px;
}
.new-song{
  font-size: 20px;
}

/*css animation for a little rotating triangle, mostly made this because i couldn't get the actual songs to play (code still left in) but wanted some fun feature! ideally this rotating triangle would play the songs...but that's a larger goal. */
@keyframes square-to-circle-tester {
  0% {
    border-radius: 0;
    background: #acacac;
    transform: rotate(0deg);
  }

  50% {
    border-radius: 0;
    background: #a9d6d6;
    transform: rotate(60deg);
  }
  75% {
    border-radius: 0;
    background: #80caca;
    transform: rotate(120deg);
  }
  100% {
    border-radius: 0;
    background: #77a7a7;
    transform: rotate(180deg);
  }
}

.tri {

  position: fixed;
  top: 35%;
  left: 70%;
	border-top: 40px solid #FF9900;
	border-bottom: 30px solid #FF9900;
	border-left: 80px solid gray;
  animation: square-to-circle-tester 3s 1s infinite cubic-bezier(1, .015, .295, 1.225) alternate;
}
