<h2>Form Page</h2>

<form>
  <input placeholder="Title" data-ng-model="song.title" />
  <input placeholder="Artist" data-ng-model="song.artist" />
  <input placeholder="Genre" data-ng-model="song.genre" />
  <input placeholder="Photo url" value='' data-ng-model="song.album_art" />
  <div ng-show='formType=="edit"'>
    <button type="button" data-ng-click="SongsEditViewModel.update()">Update</button>
  </div>
  <div ng-show='formType=="new"'>
    <button type="button" data-ng-click="SongsNewViewModel.create()">Create</button>
  </div>

</form>
