<div class = "song-show">
  <div data-song-player data-ng-if="SongsShowViewModel.playSong" data-song="SongsShowViewModel.playSong">Test Player</div>

  <h2 class = "song-show-title">Artist: {{SongsShowViewModel.song.artist}}</h2>
  <h2 class = "song-show-title">Title: {{SongsShowViewModel.song.title}}</h2>
  <h2 class = "song-show-title">Genre: {{SongsShowViewModel.song.genre}}</h2>
  <img class = "img" data-ng-src="{{SongsShowViewModel.song.album_art}}" src="#" alt="alt text" />
  <button data-ng-click="SongsShowViewModel.destroy()">Delete</button>
  <button data-ui-sref="songEdit({id:SongsShowViewModel.song.id})">Edit</button>
</div>
